<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drawingboard.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <title>WebApp</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
</head>
<body>
  <div class="container">
    <h1 class="text-center mb-0">MNIST</h1>
    <div id="default-board"></div>
    <button id="predict" type="submit" class="btn fill-width" onclick="predict()">Predict</button>
    <h3 id="result" class="mt-8">Result: -</h3>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/drawingboard.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>